name: Build Windows EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller customtkinter scapy numpy pandas psutil pillow
    
    - name: Build EXE with Console (to see errors)
      run: |
        pyinstaller --noconfirm --onefile --console --name "UNSW_Feature_Extractor" --collect-all customtkinter --hidden-import=PIL._tkinter_finder main.py
    
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Executable
        path: dist/UNSW_Feature_Extractor.exe
